/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Nunito:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(../FOTO/back.jpeg);
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.reis {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: rgb(0, 184, 246);
}

h3 {
    color: blue;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: darkgreen;
}

/* Responsiveness */
@media screen and (max-width: 600px) {
    .reis {
        width: 80%;
    }
}


/*Invoegen*/
.reis {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.reis h1, .reis h3 {
    color: #007bff;
    text-align: center;
}

.reis form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.reis input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reis input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.reis input[type="submit"]:hover {
    background-color: #0056b3;
}


.reis {
    text-align: center;
}

h1 {
    color: rgb(0, 184, 246);
}

.Boek {
    background-color: blue;  
    color: white;  
    padding: 10px 20px;  
    border: none;  
    border-radius: 5px; 
    cursor: pointer;  
    margin: 10px; 
}

.Boek:hover {
    background-color: rgb(255, 128, 0);  
}

